<footer class="site-footer">

<div id="leftbar"><img  src="kottke.jpg" /><br>
	<div id="contact">
		<br>
		<a href="docs/kottke_cv.pdf">CV</a><br><br>

		<a href="https://arxiv.org/a/kottke_c_1">arXiv</a><br><br>
	
		<a href="https://scholar.google.com/citations?user=e1bK5BMAAAAJ">Google Scholar</a><br><br>

		<a href="https://orcid.org/{{site.data.about.orcid}}">ORCID</a><br>

		<hr />

		<br>
		{{site.data.about.office}}<br><br>

		{{site.data.about.schooladdr}}<br><br>

		{{site.data.about.phone}}<br><br>

		<a href="mailto:{{site.email}}">{{site.email}}</a></div>

</div>

</footer>
